.replyFrame {
	box-sizing: border-box;
	padding-left: 10px;
	border-left: 5px solid rgb(198, 198, 198);
}

.replyFrameButtons {
	padding-top: 5px;
}

.buttonsWrapper {
	padding-bottom: 5px;
	padding-left: 10px;
}

.separator {
	margin: 0;
  border: 1px solid rgb(219, 219, 219);
}

.reportButtonFrame {
	float: right;
}
	.reportButtonFrame:after {
		content: '';
		clear: both;
		display: table;
	}