.mainWrapper {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-x: scroll;
}

.wrapper {
	border-radius: 3px;
	background-color: white;
	width: 40%;
	min-width: 300px;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 200px;
	position: relative;
}